@model MicroAssignment.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Forget Password
                    <small></small>
                </h4>
                <ol class="breadcrumb">
                    <li>@Html.ActionLink("Home","Register","Account")</li>
                    
                    <li class="active">Account</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

<div>
    @using (Html.BeginForm("Search","Account"))
    {
      
      <div >
          Username: 
          <input type="text" required="required" name="SearchString" placeholder="Username here.." />
            <input class = "button" type="submit" value="Search" /> 

      </div>
       
    }
</div>
<hr />
@if( ViewBag.Id != null){
<div>
    @if(ViewBag.Image !=null){
    <img src="~/Uploads/Items/@System.IO.Path.GetFileName(ViewBag.Image)" style="width:70px;height:70px;border:solid 1px #bbb8b8;padding:3px;display:block" />
    }else{
        <img src="~/Images/no-avatar.jpg" style="width:70px;height:70px;border:solid 1px #bbb8b8;padding:3px;display:block"/>
    }
        <h4>Username: @ViewBag.Username | Phnne Number: @ViewBag.PhoneNo </h4>
</div>
}


@using (Html.BeginForm("ResetPassword", "Account", new { id = ViewBag.Id }))
{
    @Html.ValidationSummary(true)
      <p>
          @if (ViewBag.Username != null)
          {
              <input type="submit" value="Send Request" class="btn btn-success" />
          }
      </p>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
