@model MicroAssignment.Models.Advertise

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Advertise</legend>

        @Html.HiddenFor(model => model.AdvertiseId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyEmail)
            @Html.ValidationMessageFor(model => model.CompanyEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyWebsite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyWebsite)
            @Html.ValidationMessageFor(model => model.CompanyWebsite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Visitor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Visitor)
            @Html.ValidationMessageFor(model => model.Visitor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyPhoneNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyPhoneNo)
            @Html.ValidationMessageFor(model => model.CompanyPhoneNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageUrl)
            @Html.ValidationMessageFor(model => model.ImageUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StopDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StopDate)
            @Html.ValidationMessageFor(model => model.StopDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsEnabled)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsEnabled)
            @Html.ValidationMessageFor(model => model.IsEnabled)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
